.header {
    .logo {
        width: 200px;
        height: auto;
        object-fit: contain;
        max-width: 100%;
    }

    .nav-icon {
        margin: 0 5px;

        font-size: 25px;
        color: #fff;
        cursor: pointer;

        transition: all .3s ease-in-out;

        &:hover {
            color: #9b9b9b;
        }
    }
}

// @media screen and (max-width: 767px) {
//     .header {
//         position: fixed;
//         z-index: 1000;
//         left: 0px;
//         top: 0px;
//         height: 100%;
//         width: 100%;
//         background-color: black;9
//     }
// }